* @Juschwy

/.github @JuliBooli @Juschwy @burgii7 @liuuner

/cicd @JuliBooli @Juschwy @burgii7 @liuuner

/backend @FabDonRixos @cws444 @Jutarokun @Nivreleu

/frontend @cxs1mon @FabioLiberto @jansigi @Tobias11111010110