<app-cart class="cart-floating"></app-cart>
<section class="products-grid">
  <app-card
    [title$$]="'Example'"
    [description$$]="'Example description'"
    [weight$$]="2000"
    [size$$]="1.5"
    [prize$$]="1500"
    [menhirType$$]="menhirType.SIMPLE"
  ></app-card>
  <app-card
    [title$$]="'Example'"
    [description$$]="'Example description'"
    [weight$$]="2000"
    [size$$]="1.5"
    [prize$$]="1500"
    [menhirType$$]="menhirType.PLAIN"
  ></app-card>
  <app-card
    [title$$]="'Example'"
    [description$$]="'Example description'"
    [weight$$]="2000"
    [size$$]="1.5"
    [prize$$]="1500"
    [menhirType$$]="menhirType.ORNATE"
  ></app-card>
  <app-card
    [title$$]="'Example'"
    [description$$]="'Example description'"
    [weight$$]="2000"
    [size$$]="1.5"
    [prize$$]="1500"
    [menhirType$$]="menhirType.DECORATED"
  ></app-card>
  <app-card
    [title$$]="'Example'"
    [description$$]="'Example description'"
    [weight$$]="2000"
    [size$$]="1.5"
    [prize$$]="1500"
    [menhirType$$]="menhirType.MASTERWORK"
  ></app-card>
</section>
