#cloud-config

groups:
  - docker
users:
  - default
  - name: majestix
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    groups: [docker]
    shell: /bin/bash
    ssh_authorized_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMvk1zlVGgeMISSefXnJ1180XP4vlw8T5PJmm12o5roF jul.fehlmann@gmail.com"
  - name: obelix
    groups: [docker]
    shell: /bin/bash
    ssh_authorized_keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILI6jXcFwuL8pvFnmnLdTsonlHdxAWFrGxMa5lwHZB2j obelix@juschwy.github.io"
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMvk1zlVGgeMISSefXnJ1180XP4vlw8T5PJmm12o5roF jul.fehlmann@gmail.com"
system_info:
  default_user:
    groups: [docker]

apt:
  sources:
    docker.list:
      source: deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable
      # Key ID can be found with “gpg --show-keys <(curl -s https://download.docker.com/linux/ubuntu/gpg)”
      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
package_update: true
package_upgrade: true
packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin

write_files:
  - path: /home/user/docker-compose.yaml
    # language=yaml
    content: |
      name: obelix
      services:
        # build two spring images using: ./gradlew bootBuildImage
        zipkin:
          image: openzipkin/zipkin:3
          ports:
            - "9411:9411"
        obelix-quarry:
          image: obelix/quarry:latest
          ports:
            - "8081:8081"
          environment:
            MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://zipkin:9411/api/v2/spans
          depends_on:
            - zipkin
        obelix-basket:
          image: obelix/basket:latest
          ports:
            - "8082:8082"
          environment:
            OBELIX_QUARRY_URL: http://obelix-quarry:8081
            MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://zipkin:9411/api/v2/spans
          depends_on:
            - zipkin
        obelix-webshop:
          image: obelix/webshop:latest
          ports:
            - "8080:8080"
          environment:
            OBELIX_QUARRY_URL: http://obelix-quarry:8081
            OBELIX_BASKET_URL: http://obelix-basket:8082
            MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: http://zipkin:9411/api/v2/spans
          depends_on:
            - zipkin
        prometheus:
          image: prom/prometheus:v3.7.3
          ports:
            - "9090:9090"
          volumes:
            - ./prometheus.yaml:/etc/prometheus/prometheus.yml
            - prometheus-data:/prometheus
          command: --config.file=/etc/prometheus/prometheus.yml
        grafana:
          image: grafana/grafana:12.0.4
          ports:
            - "3000:3000"
          environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
          volumes:
            - grafana-data:/var/lib/grafana
          depends_on:
            - prometheus
      volumes:
        prometheus-data:
        grafana-data:
  - path: /home/user/prometheus.yaml
    # language=yaml
    content: |
      global:
        scrape_interval: 15s
      scrape_configs:
        - job_name: 'prometheus'
          # Override the global default and scrape targets from this job every 5 seconds.
          scrape_interval: 5s
          static_configs:
            - targets: [ 'localhost:9090' ]
        - job_name: 'webshop'
          metrics_path: /actuator/prometheus
          static_configs:
            - targets:
                - 'obelix-webshop:8080'
        - job_name: 'quarry'
          metrics_path: /actuator/prometheus
          static_configs:
            - targets:
                - 'obelix-quarry:8081'
        - job_name: 'basket'
          metrics_path: /actuator/prometheus
          static_configs:
            - targets:
                - 'obelix-basket:8082'

# language=bash
runcmd:
#  - docker compose up
  - echo "hello world"