spring:
  datasource:
    url: jdbc:h2:mem:obelixdb
logging:
  pattern:
    level: "%5p [%X{traceId:-},%X{spanId:-}]"
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
management:
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      export:
        enabled: true
      endpoint: http://localhost:9411/api/v2/spans
  metrics:
    tags:
      application: "${spring.application.name}"
  endpoints:
    web:
      exposure:
        include: "prometheus"