.header{
  background-color: #000000;
  display: flex;
  padding: 10px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding: 20px   20px;

  }
}
.header__title{
  color: white;
  margin: 0 0 0 20px;
}
.header__logo{
  width:15%;
  height: auto;
  @media screen and (min-width: 768px) {
    width:5%;
  }
}
