.header {
  background-color: var(--color-primary);
  display: flex;
  padding: 0.75rem;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 1.25rem;
  }
}

.header__title {
  color: white;
  margin-left: 1.25rem;
  margin-bottom: 0;
}

.header__logo {
  width: 15%;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 5%;
  }
}
